#blocklyDiv .blocklyToolboxDiv {
    width: 30px;
}

body {
    background-color: white;
    padding: 0;
}
span.blocklyTreeLabel{
    color:black;
}

#svgoutput svg {
    width: 100%;
    height: auto;
    display: block; 
}